@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-light.woff2') format('woff2'), url('../fonts/raleway-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway-semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-extrabold.woff2') format('woff2'), url('../fonts/raleway-extrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/sourcesanspro-regular.woff2') format('woff2'), url('../fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/sourcesanspro-semibold.woff2') format('woff2'), url('../fonts/sourcesanspro-semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/sourcesanspro-bold.woff2') format('woff2'), url('../fonts/sourcesanspro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
