* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* refaktoring */
.button {
  display: inline-block;
  text-align: center;
  margin: 10px 5px;
  text-decoration: none;
}

.button-small {
  font-size: 16px;
  padding: 10px 30px;
}

.button-blue {
  color: #FFF;
  border: 1px solid #0082BE;
  background: #00A4EF;
}

.button-red {
  color: #FFF;
  border: 1px solid rgb(197, 14, 45);
  background: rgb(197, 14, 45);
}

/* refaktoring dle OOCSS */


/* refaktoring dle BEM */