/* -- 1.3 Flex & grid - grid -- */

h1 {
  margin: 0;
}

.box {
  height: auto;
  width: auto;
  padding: 2rem;
}

/* -- grid 2/3 cols, 1/6 rows, 1rem gap -- */
.container {
  max-width: 90vw;
  height: 80vh;
}