// # Aside panel - only on desktop

.aside {
  display: none;

  @media #{$screen-md} {
    width: 25%;
    display: block;
    padding: 2rem 0;
  }
  @media #{$screen-lg} {
    padding: 4rem 0;
  }
}

.aside__heading {
  align-self: center;
  margin: 0 0 3rem;
  color: $color-secondary;
  font-size: 1.625rem;
  text-align: center;

  a {
    color: $color-secondary;
    text-decoration: none;
  }
}

.aside__heading--sm {
  font-size: 1.125rem;
}

.aside__divider {
  margin: 0 auto 2.75rem;
  border-top: 1px solid $color-gray-lighter;
  width: 6.75rem;
}
