/* -- 1.4 SVG -- */

.svg {
  margin: 0 5rem;
  fill: none;
}

.svg-path {
  stroke-width: 2;
  stroke: #2867a3;
  stroke-linecap: round;
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  animation: dash 3s linear alternate infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 70;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
