/* -- 1.2 Principy - Box model, position -- */


/* Box model */
.box {
  margin: 60px;
  padding: 15px;
  border: 5px solid #113c64;
  width: 600px;
  height: 450px;
}

.box-2 {
  margin-top: -90px;
  border-color: red;
  outline: yellow 3px;
}

/* margin-bottom flow, margin-top bug */
