/* -- 1.2 Principy - jednotky -- */

/* rem - root size */

html {
  --h1-height: 8rem;
}

/* vw, vh */
h1 {
  margin: 0;
  height: var(--h1-height);
}

.box {
  margin: 0;
  width: 100vw;
  height: calc(100vh - var(--h1-height));
  border: 2rem solid red;
}
